<footer class="bg-dark text-white py-4 mt-5">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h5>Digital Student Hub</h5>
                <p>Платформа для управления учебными материалами и коммуникациями</p>
            </div>
            <div class="col-md-3">
                <h5>Навигация</h5>
                <ul class="list-unstyled">
                    <li><a href="{% url 'home' %}" class="text-white">Главная</a></li>
                    <li><a href="{% url 'course_list' %}" class="text-white">Курсы</a></li>
                    <li><a href="{% url 'news_list' %}" class="text-white">Новости</a></li>
                </ul>
            </div>
            <div class="col-md-3">
                <h5>Контакты</h5>
                <p>email: support@studenthub.ru</p>
                <p>телефон: +7 (XXX) XXX-XX-XX</p>
            </div>
        </div>
        <hr class="bg-light">
        <p class="text-center mb-0">&copy; 2025 Digital Student Hub. Все права защищены.</p>
    </div>
</footer>